@font-face {
  font-family: 'shh';
  src: url('fonts/hnow.ttf') format('truetype');
}
body{
  font-family: 'shh', sans-serif;
  background-color:#14131e;
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  color:#949BB9;
  padding:0 10px
}
h1,h2,h3{
  line-height:1.2
}
bold,strong{
  color:#C8D5F1;
}
